
@{
    ViewBag.Title = "Lessons";
}

<h1>WELCOME TO POINTER VISUALIZER</h1>
<div>
    <p>
        Pointer visualizer is a graphical visualization tool hosted on a web application. Its goal is to help 
        beginner programmers understand and imagin usages, functions and conceptual representation of pointers. 
        It is a lesion-oriented approach to teach new inexperienced programming students and guide them through 
        the initial and basic syntax and concept of complex C++ code. With scripted lessons users can visualize how pointers interact with data 
        through memory addresses and their theoretical existence in the memory. Each lesson aims to convey progressively 
        more complex topics regarding pointers in C++.

         </p>
    <p style="font-weight: bolder">
        Please Note: Pointer Visualizer aims to help beginner programmers to grasp concepts. It is a voluntary project attempted by learning students
        and does not near guarantee literacy or simulation of actual compilers not 100% accuracy. It was our honest and best attempt to
        help new developers avoid struggles we had in our days.
        It was an attempt to simplify concepts wherever needed and at times uses visual representation that may not exist in real compilers but aligns with human concepts of it.

    </p>


    <hr />
    <h2>Contributors</h2>
    <ul>
        <b>
            <li>Joshua Fox</li>
            Role: Adviser<br />
        </b>
        Lecturer (CISE)
        <br />
        University of Florida
        <br />
        <br />

        <b>
            <li>Mohammad Immam</li>
            Role: Contributor<br />
        </b>
        Student- University of Florida
        <br />
        m.immam@ufl.edu
        <br />
        <br />

        <b>
            <li>Soham Kale</li>
            Role: Contributor<br />
        </b>
        Student- University of Florida
        <br />
        soham.kale@ufl.edu
        <br />
        <br />

        <b>
            <li>Ahsan Rohan</li>
            Role: Contributor<br />
        </b>
        Student- University of Florida
        <br />
        ahsanrohan@ufl.edu
        <br />
        <br />
    </ul>
</div>

